<h1>Add a goal</h1>

<form action="<%= goals_url %>" method="post">

  <%= token_tag form_authenticity_token %>

  <label>Title<br>
  <input type="text" name="goal[title]" value="<%= @goal.title %>">
  </label><br>

  <label>Body<br>
  <textarea name="goal[body]"><%= @goal.title %></textarea>
  </label><br>

  <label>Private
    <input type="radio" name="goal[privacy]" value="Private"
    <%= "checked" unless @goal.privacy == "Public" %>>
  </label>

  <label>Public
    <input type="radio" name="goal[privacy]" value="Public"
    <%= "checked" if @goal.privacy == "Public" %>>
  </label><br>

  <input type="submit" value="Submit">
</form>
