<!DOCTYPE html>
<html>
<head>
  <title>MusicProject</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if flash[:errors] %>
  <div> <%= flash[:errors] %> </div>
<% end %>
<% if signed_in? %>
Welcome <%= current_user.email %>
<%= button_to "Log Out", action= session_url, method: :delete %>
<% end %>
<%= yield %>

</body>
</html>
